@page
<<<<<<< HEAD
@model IEnumerable<CSPharma_TorreControl.AccesoViews.AccesoViewModel>
<!--IndexModel-->
@{
    ViewData["Title"] = "CSPharma_TorreControl";
}

<div class="text-center">
    <h1 class="display-4">REGISTRO DE PEDIDOS ACTUALES</h1>
</div>
<div class="base_datos">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>CODIGO DE PEDIDO</th>
                <th>CODIGO DE LINEA</th>
                <th>FECHA</th>
            </tr>

            <!--Con este foreach mostraremos la consulta-->
            @foreach (var pedido in Model)
            {
                <tr>
                    <td>@pedido.id</td>
                    <td>@pedido.cod_pedido</td>
                    <td>@pedido.cod_linea</td>
                    <td>@pedido.fecha</td>
                </tr>
            }
        </thead>
    </table>
</div>
=======
@model CSPharma_TorreControl.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].MdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].MdUuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodEstadoDevolucionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodEstadoEnvioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodEstadoPagoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcTchEstadoPedido[0].CodLineaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TdcTchEstadoPedido) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoDevolucionNavigation.CodEstadoDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoEnvioNavigation.CodEstadoEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoPagoNavigation.CodEstadoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodLineaNavigation.CodLinea)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CodPedido">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CodPedido">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CodPedido">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
>>>>>>> e5de13ec8660ebe848d93f77819343ba0ceedf23
